<table class="table table-sm table-light table-striped" *ngIf="tracks">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Track</th>
			<th scope="col">Duration</th>
			<!--DONE: Use *ngIf to hide if hideArtist is true-->
			<th scope="col" *ngIf="!hideArtist">Primary Artist</th>
			<!--DONE: Use *ngIf to hide if hideAlbum is true-->
			<th scope="col" *ngIf="!hideAlbum">Album</th>
		</tr>
	</thead>
	<tbody>
		<!--DONE: Use *ngFor to loop over tracks-->
		<tr *ngFor="let track of tracks; let index = index;">
			<!--DONE: Populate with row index (start with 1!)-->
			<td>{{index + 1}}</td>
			<td>
				<!--DONE: link to the endpoint for that track, display the track's name-->
				<a routerLink="/track/{{track.id}}">{{track.name}}</a>
			</td>
			<!--DONE: display the track's duration-->
			<td>{{track.durationStr}}</td>
			<!--DONE: Use *ngIf to hide if hideArtist is true; link to the first artist's endpoint and display the first artist's name-->
			<td *ngIf="!hideArtist">
				<a routerLink="/artist/{{track.primaryArtist.id}}">{{track.primaryArtist.name}}</a>
			</td>
			<!--DONE: Use *ngIf to hide if hideAlbum is true; link to the album's endpoint and display the album's name-->
			<td *ngIf="!hideAlbum">
				<a routerLink="/album/{{track.album.id}}">{{track.album.name}}</a>
			</td>
		</tr>
	</tbody>
</table>
