/* You can add global styles to this file, and also import other style files */
:root {
	--bs-orange: #ff6600;
  }

body {
	background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
	color: black;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-weight: 900;
}

h2, h3 {
	font-weight: 700;
}

button, .btn {
	margin: 10px;
	border: gray 1px solid;
}

a {
	color: var(--bs-orange);
}