<div class="row">
	<div *ngIf="track" class="col-6">
		<!--DONE: populate with track name-->
		<h1>{{track.name}}</h1>
		<p>
			<!--DONE: link to album page, display album name-->
			Track on <a routerLink="/album/{{track.album.id}}">{{track.album.name}}</a>
		</p>
		<div>
			<!--DONE: loop over track's artists-->
			<p *ngFor="let artist of track.artists">
				<!--DONE: link to artist page, display artist name-->
				Artist: <a routerLink="/artist/{{artist.id}}">{{artist.name}}</a>
			</p>
		</div>
		<p>
			<!--DONE: populate with track duration-->
			Duration: {{track.durationStr}}
		</p>
		<p>
			<!--DONE: link to track page on spotify, display track name-->
			<a class="btn btn-light" role="button" href="{{track.url}}" target="_blank">Open {{track.name}} on Spotify</a>
		</p>
	</div>
	<div *ngIf="audioFeatures" class="col-6">
		<!--DONE: loop over types of features and create a thermometer component for each-->
		<app-thermometer *ngFor="let feature of audioFeatures" [trackFeature]="feature"></app-thermometer>
	</div>
</div>
