<div *ngIf="artist" class="row">
	<div class="col-6">
		<!--DONE: populate with artist name-->
		<h1>{{artist.name}}</h1>
		<!--DONE: populate with artist image URL-->
		<img id="artistImg" src="{{artist.imageURL}}">
		<p>
			<!--DONE: link to artist page on spotify, display artist name-->
			<a class="btn btn-light" role="button" href="{{artist.url}}" target="_blank">Open {{artist.name}} on Spotify</a>
		</p>
	</div>
	<div class="col-2">
		<h3>Genres</h3>
		<ul>
			<!--DONE: loop over artist's genres and display them-->
			<li *ngFor="let genre of artist.genres">{{genre}}</li>
		</ul>
		<p>
		</p>
	</div>
	<div class="col-4">
		<!--DONE: display artist name-->
		<h3>{{artist.name}}'s Top Tracks</h3>
		<!--DONE: display the artist's top tracks-->
		<app-track-list [tracks]="topTracks"></app-track-list>
	</div>
</div>

<div *ngIf="artist" class="row">
	<div class="col-6">
		<!--DONE: display artist name-->
		<h3>{{artist.name}}'s Albums</h3>
		<!--DONE: Display a carousel component for the artist's albums. Bind carousel's resources and give it a static carouselId.-->
		<app-carousel [resources]="albums" [carouselId]="artist.id+'-artists-albums'"></app-carousel>
	</div>
	<div class="col-6">
		<h3>Similar Artists</h3>
		<!--DONE: Display a carousel component for similar artists. Bind carousel's resources and give it a static carouselId.-->
		<app-carousel [resources]="relatedArtists" [carouselId]="artist.id+'-related-artists'"></app-carousel>
	</div>
</div>
